=== bbninja Config Vars
CLEARDB_DATABASE_URL: mysql://bf4ef58d12dbab:e7130233@us-cdbr-iron-east-03.cleardb.net/heroku_8990b54bcad09dc?reconnect=true
DATABASE_URL:         mysql://bcec7a14b74598:33573e82@us-cdbr-iron-east-03.cleardb.net/heroku_eebb563a480856c?reconnect=true
PAPERTRAIL_API_TOKEN: yFfTGEPnSwuNUY16n9y0
TIMES:                3
